@media (width < 910px) {
    .principalHeader{
        .headerContent{
            .headerSections{
                .guideSections{
                    display: flex;
                    gap: 2.2rem;
                    .contactsDiv{
                        left: -100%;
                        min-width: 0;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (width < 850px) {
    .principalHeader{
        .headerContent{
            .headerSections{
                .guideSections{
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
    
}

@media (width < 800px) {
    .principalHeader{
        .headerContent{
            .headerSections{
                position: fixed;
                top: 7rem;
                background-color: var(--gray01--);
                box-shadow: 0 0 5px 1px #000;
                border-radius: 8px;
                z-index: 0;
                left: 0;
                right: 0;

                animation-name: upToDown;
                animation-duration: 0.3s;
                animation-timing-function: linear;
                animation-fill-mode:forwards;
                animation-direction: reverse;

                display: flex;
                flex-direction: column;
                font-size: 1.6rem;
                gap: 0.5rem;
                font-weight: 600;
                padding: 1rem;

                span{
                    transition: 0.3s;
                }

                .guideSections{
                    width: 100%;
                    p, a{
                        border-radius: 0.8rem;
                        padding: 0.5rem;
                        text-align: center;
                        width: 11rem;
                    }
                    .contactsDiv.divActived{
                        transform: translate(0, 0.6rem);
                        gap: 0.6rem;
                        padding: 0.8rem;
                    }
                    .contactsDiv{
                        position: fixed;
                        margin: 0 auto;
                        left: 20rem;
                        right: 20rem;
                    }
                }

                /* Radio 01 - Sobre Mim */
                #headerRadio01:checked ~ #headerAboutMeP{
                    background-color: var(--white02--);
                }

                /* Radio 02 - Projetos */
                #headerRadio02:checked ~ #headerProjectsP{
                    background-color: var(--white02--);
                }

                /* Radio 03 - Serviços */
                #headerRadio03:checked ~ #headerServicesP{
                    background-color: var(--white02--);
                }

                /* Radio 04 - Formações */
                #headerRadio04:checked ~ #headerFormationsP{
                    background-color: var(--white02--);
                }
            }
        }
    }

    .scrollMenuBtnDiv{
        display: flex;
        opacity: 1;
    }
}

@media (width <750px){
    .principalHeader{
        .headerContent{
            .headerSections{
                .guideSections{
                    .contactsDiv{
                        left: 18rem;
                        right: 18rem;
                    }
                }
            }
        }
    }
}

@media (width < 700px) {
    .content{
        .apresentation{
            img{
                max-width: 180px;
                width: 180px;
                max-height: 180px;
                height: 180px;
            }
            flex-direction: column-reverse;
            justify-content: center;
            gap: 2rem;
        }
    }
    .principalHeader{
        .headerContent{
            .headerSections{
                .guideSections{
                    .contactsDiv{
                        left: 16rem;
                        right: 16rem;
                    }
                }
            }
        }
    }
}

@media (width <650px){
    .principalHeader{
        .headerContent{
            .headerSections{
                .guideSections{
                    .contactsDiv{
                        left: 14rem;
                        right: 14rem;
                    }
                }
            }
        }
    }
}

@media (width <600px){
    .principalHeader{
        .headerContent{
            .headerSections{
                .guideSections{
                    .contactsDiv{
                        padding: 0.3rem;
                        left: 11rem;
                        right: 11rem;
                    }
                }
            }
        }
    }
}

@media (width < 505px) {
    .content{
        .apresentation{
            h1{
                font-size: 1.4rem;
                margin-bottom: 0.5rem;
            }
            p{
                font-size: 1.2rem;
            }
            img{
                width: 15rem;
                height: 15rem;
            }
        }
    }
    .principalHeader{
        .headerContent{
            .headerSections{
                padding: 0.5rem;
                .guideSections{
                    justify-content: space-between;
                    gap: 0.3rem;
                    p, a{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}