@media (width < 1024px) {
    .apresentation, .projects, .content{
        max-width: 800px;
        width: 800px;
    }
    .contentScroll{
        max-width: 3200px;
        width: 3200px;
    }
    .principalHeader{
        .headerContent{
            .headerSections{
                display: flex;
                gap: 2.4rem;
            }
        }
    }
}

@media (width>800px){
    #scrollMenuBtn{
        display: none;
        opacity: 0;
    }
}

@media (width < 800px) {
    .apresentation, .projects, .content{
        max-width: 600px;
        width: 600px;
    }
    .content{
        .contentScroll{
            max-width: 2400px;
            width: 2400px;
            .apresentation, .projects{
                padding: 4rem 2.5rem;
            }
        }
    }
    .principalHeader{
        .headerContent{
            .headerSections{
                position: fixed;
                bottom: 0.8rem;
                right: 0.8rem;
                background-color: var(--gray01--);
                box-shadow: 0 0 5px 1px #000;
                border-radius: 8px;
                width: 20rem;
                height: 30rem;
                z-index: 0;

                animation-name: appearV3;
                animation-duration: 0.3s;
                animation-timing-function: linear;
                animation-fill-mode:forwards;
                animation-direction: reverse;

                display: flex;
                flex-direction: column;
                font-size: 1.6rem;
                gap: 0.5rem;
                font-weight: 600;
                padding: 1rem;
            }
            .accessibilitySection{
                display: none;
            }
            justify-content: center;
        }
    }

    .scrollMenuBtn{
        display: flex;
        opacity: 1;
    }
}