*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    transition: 0.5s;
}

:root{
    font-size: 62.5%;
    --gray01--: #D9D9D9;
    --gray02--: #282727;
    --white01--: #f2f2f2;
    --blue01--: #053cf3;
    --blue02--: #0047f9;
}

.darkModeTheme{
    --black01--: #000;
    --gray01--: #D9D9D9;
    --gray02--: #282727;
    --white01--: #f2f2f2;
    --blue01--: #053cf3;
    --blue02--: #0047f9;
}

.principalHeader{
    background-color: var(--gray01--);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    .headerContent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 102.4rem;
        padding: 1rem 1.5rem;
    }

    .headerContent{
        .logoName{
            font-size: 2rem;
            font-weight: 800;

            strong{
                color: var(--blue01--);
                font-weight:900;
                font-size: 3rem;
            }
        }
        .headerSections{
            display: flex;
            gap: 3.8rem;
            font-size: 1.6rem;
            font-weight: 600;

            a{
                text-decoration: none;
                color: var(--black01--);
                display: flex;
                flex-direction: column;
            }

            a span{
                width: 100%;
                height: 0.2rem;
                background-color: var(--blue01--);
                transform: translate(0,-.3rem);
                border-radius: 0.8rem;
            }
        }
        .accessibilitySection{
            display: flex;
            /* width: 100%;
            max-width: 21.2rem; */
            justify-content: center;
            gap: 1rem;
            align-items: center;

            .translateBtn{
                background-color: var(--blue02--);
                padding: 0.5rem 1rem;
                color: var(--white01--);
                border: none;
                border-radius: 0.8rem;
                height: 3rem;
                font-weight: 600;
            }

            .toggleTheme{
                background-color: var(--gray02--);
                width: 10rem;
                height: 3.5rem;
                border-radius: 0.8rem;
                padding: 0.4rem;
                display: flex;
                align-items: center;
                
                i{
                    background-color: var(--gray01--);
                    height: 100%;
                    width: 3rem;
                    border-radius: 0.8rem;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}